/* <div class="mobSideNavHolder">
<div class="mobSideNavBox"> */

.mobSideNavHolder{
    position: relative;
    /* display: none; */
}


.mobSideNavBox{
    position: fixed;
    height: 100vh;
    width: 90%;
    background: #fff;
    z-index: 1004;
    top:0;
    left: -100%;
    /* display: none; */
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.mobSideNavBox.active{
    position: fixed;
    height: 100vh;
    width: 95%;
    background: #fff;
    z-index: 1004;
    top:0;
    left: 0;
    overflow: scroll;
    /* display: none; */
}

.mobContent.active{
    position:fixed;
    overflow:hidden;
}